@import 'mediaqueries';

// Page 1

.image-inmersivo1a{
    position: absolute;
    width: auto;
    height: 90vh;
    bottom: -10vh;
    @include tablet { width: 580px; height: auto; }
    @include mobile { width: 120%; height: auto; left: -20%;}
}

.image-inmersivo1b{
    position: absolute;
    width: 70%;
    height: auto;
    right: 7%;
    bottom: -10%;
    @include tablet { width: 90%; height: auto; left: 22%; top: 7%; }
    @include mobile { width: 154%; bottom: 20%; right: -64%; }
}

.image-inmersivo1c{
    position: absolute;
    width: 45%;
    height: auto;
    @include tablet { width: 50%; }
    @include mobile { width: 90%;}
}

// Page 2

.image-inmersivo2a{
    position: absolute;
    width: auto;
    height: 95vh;
    @include tablet { width: 65%; height: auto; }
    @include mobile { width: 80%; height: auto; top: 17%;}
}

.txt2a{
    position: absolute;
    width: 30%;
    left: 7%;
    top: 13%;
    text-align: right;
    @include tablet { left: 5%; }
    @include mobile { top: 6%; width: 86%; left: 3%; }
}

.txt2b{
    position: absolute;
    width: 30%;
    right: 7%;
    bottom: 13%;
    text-align: left;
    @include tablet { right: 5%; bottom: 8%;}
    @include mobile { bottom: 12%; width: 85%; right: 6%;}
}

.wrapper-video {
    video { 
        clip-path: circle(125px at 50% 45%); 
        @include mobile { 
            clip-path: circle(60px at 50% 50%); 
        }
    }

    &.active {
        video { 
            @include mobile { 
                clip-path: circle(120vw at 50% 45%) !important; 
            }
        }
    }
    span { 
        left: 58%;
        top: 46%;
        text-shadow: 0px 0px 5px black;
        @include mobile { left: 50%; top: 50%; } 
    }
}


//page 3
.image-inmersivo3a{
    position: absolute;
    width: auto;
    height: 20vh;
    left: 10%;
    @include tablet { left: 7%;}
    @include mobile { display: none;}
}

.image-inmersivo3b{
    position: absolute;
    width: auto;
    height: 20vh;
    right: 10%;
    @include tablet { right: 7%;}
    @include mobile { display: none; }
}


.txt3a{
    position: absolute;
    top: 20%;
    text-align: center;
    @include mobile { text-align: center; top: 12%; }
}

.txt3b{
    position: absolute;
    text-align: left;
    top: 40%;
    width: 30%;
    color: rgba(0, 0, 0, 0.521);
    @include mobile { width: 80%; left: 22%; top: 24%;}
    li{ line-height: 2rem;}
}

.txt3c{
    position: absolute;
    text-align: center;
    bottom: 15%;
    width: 50%;
    @include mobile { width: 75%; bottom: 20%; }
}

.txt3d{
    position: absolute;
    text-align: left;
    left: 7%;
    bottom: 15%;
    width: 30%;
    @include mobile { width: 60%; top: 14%; }
}

.txt3e{
    position: absolute;
    text-align: right;
    right: 7%;
    top: 20%;
    width: 30%;
    @include mobile { width: 60%; top: 14%; }
}
//page4

.container-comparation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .slide1 {
        //clip-path: polygon(xxx 0, 100% 0, 100% 100%, xxx 100%); 
        //clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
        clip-path: inset(0 0 0 50%);
        background-color: #A3CAC9;
    }

    .slide2 {
        //clip-path: polygon(0 0, xxx 0, xxx 100%, 0 100%);  
        //clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
        clip-path: inset(0 50% 0 0);
        background-color: #FDEF37;
    }
    
    .dot-slider {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        background-color: #00000080;
        border-radius: 100%;
        margin: auto -35px;
        left: 50%;
        border: 10px solid #0000000f;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        transition: 0.2s transform;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }    
    &.active {
        cursor: none;
        .dot-slider {
            transform: scale(0.7);
            opacity: 0.75;
        }
    }
}

.image-inmersivo4a {
    position: absolute;
    width: auto;
    height: 20vh;
    top: 43%;
    right: 10%;
    z-index: 1;
    @include tablet { right: 7%;}
    @include mobile { display: none;}
}

.image-inmersivo4b {
    position: absolute;
    width: auto;
    height: 20vh;
    top: 43%;
    left: 10%;
    z-index: 1;
    @include tablet { left: 7%;}
    @include mobile { display: none;}
}

.image-inmersivo4c{
    position: absolute;
    width: auto;
    height: 80vh;
    left: 15%;
    bottom: -40px;
    @include tablet { left: 15%;}
    @include mobile { width: auto; height: 70%; left: -20%; }
}

.image-inmersivo4d{
    position: absolute;
    width: auto;
    height: 80vh;
    right: 37%;
    bottom: -40px;
    @include tablet { left: 15%;}
    @include mobile { width: auto; height: 70%; left: -20%; }
}


//page5
.image-inmersivo5a{
    position: absolute;
    width: auto;
    height: 95vh;
    @include tablet { left: 15%;}
    @include mobile { width: auto; height: 55%; top: 20%; }
}

.txt5a{
    position: absolute;
    width: 30%;
    left: 7%;
    top: 50%;
    text-align: left;
    @include tablet { left: 5%; }
    @include mobile { top: 5%; width: 86%; text-align: center; }
}

.txt5b{
    position: absolute;
    width: 30%;
    right: 7%;
    top: 20%;
    text-align: right;
    @include tablet { right: 5%; }
    @include mobile { top: 73%; width: 87%; text-align: center; }
}


