@import 'mediaqueries';

// Page 1

.image-inmersivo1a{
    position: absolute;
    width: auto;
    height: 110vh;
    bottom: -10vh;
    @include mobile { height: 100vh;}
}

.image-inmersivo1b{
    position: absolute;
    width: 45%;
    height: auto;
    @include tablet { width: 50%; }
    @include mobile { width: 90%;}
}

// Page 2
.txt2a{
    position: absolute;
    width: 30%;
    left: 5%;
    top: 13%;
    text-align: right;
    @include tablet { left: 5%; }
    @include mobile { top: 15%; width: 86%; left: 3%; }
}

.txt2b{
    position: absolute;
    width: 42%;
    right: 5%;
    bottom: 10%;
    text-align: left;
    @include tablet { right: 5%; bottom: 8%;}
    @include mobile { bottom: 15%; width: 85%; right: 6%;}
}

.wrapper-video {
    video { 
        clip-path: circle(200px at 50% 45%); 
        @include laptop{ clip-path: circle(160px at 50% 45%);  }
        @include tablet{ clip-path: circle(120px at 50% 45%);  }
        @include mobile { clip-path: circle(0px at 50% 50%); object-fit: contain; }
    }

    &.active {
        video { 
            @include mobile { clip-path: circle(140vw at 50% 45%) !important;  }
        }
    }
    .title-reel { 
        left: 58%;
        top: 43%;
        text-shadow: 0px 0px 5px black;
        font-size: 3rem;
        @include laptop { font-size: 2.5rem; } 
        @include tablet { font-size: 1.8rem; } 
        @include mobile { left: 0%; top: 45%; font-size: 1.8rem;   width: 100%; text-align: center; } 
    }
}


//page 3
.image-inmersivo3a{
    position: absolute;
    width: auto;
    height: 20vh;
    left: 10%;
    @include tablet { left: 7%;}
    @include mobile { top: 55%; left: 15%; width: 80px; height: auto;}
}

.image-inmersivo3b{
    position: absolute;
    width: auto;
    height: 20vh;
    right: 10%;
    @include tablet { right: 7%;}
    @include mobile { top: 55%; right: 15%; width: 80px; height: auto; }
}


.txt3a{
    position: absolute;
    top: 20%;
    text-align: center;
    @include laptop { top: 15%; }
    @include mobile { text-align: center; top: 10%; }
}

.txt3b{
    position: absolute;
    text-align: left;
    top: 40%;
    width: 30%;
    color: rgba(0, 0, 0, 0.521);
    @include laptop { top: 35%; width: 35%; }
    @include tablet { top: 35%; width: 45%; }
    @include mobile { width: 60%; left: 20%; top: 20%;}
    li{ line-height: 2rem; margin: 12px 0;}
}

.txt3c{
    position: absolute;
    text-align: center;
    bottom: 15%;
    width: 50%;
    @include mobile { width: 90%; bottom: 10%; }
}

.txt3d{
    position: absolute;
    text-align: left;
    left: 7%;
    bottom: 15%;
    width: 30%;
    @include mobile { width: 60%; top: 14%; }
}

.txt3e{
    position: absolute;
    text-align: right;
    right: 7%;
    top: 20%;
    width: 30%;
    @include mobile { width: 60%; top: 14%; }
}
//page4

.container-comparation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .slide1 {
        //clip-path: polygon(xxx 0, 100% 0, 100% 100%, xxx 100%); 
        //clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
        clip-path: inset(0 0 0 50%);
        background-color: #A3CAC9;
    }

    .slide2 {
        //clip-path: polygon(0 0, xxx 0, xxx 100%, 0 100%);  
        //clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
        clip-path: inset(0 50% 0 0);
        background-color: #FDEF37;
    }
    
    .dot-slider {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        background-color: #00000080;
        border-radius: 100%;
        margin: auto -35px;
        left: 50%;
        border: 10px solid #0000000f;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        transition: 0.2s transform;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }    
    &.active {
        cursor: none;
        .dot-slider {
            transform: scale(0.7);
            opacity: 0.75;
        }
    }
}

.image-inmersivo4a {
    position: absolute;
    width: auto;
    height: 20vh;
    top: 43%;
    right: 10%;
    z-index: 1;
    @include tablet { right: 7%;}
    @include mobile { display: none;}
}

.image-inmersivo4b {
    position: absolute;
    width: auto;
    height: 20vh;
    top: 43%;
    left: 10%;
    z-index: 1;
    @include tablet { left: 7%;}
    @include mobile { display: none;}
}

.image-inmersivo4c{
    position: absolute;
    width: auto;
    height: 80vh;
    left: 15%;
    bottom: -40px;
    @include tablet { left: 15%;}
    @include mobile { width: auto; height: 70%; left: -65%; }
}

.image-inmersivo4d{
    position: absolute;
    width: auto;
    height: 80vh;
    right: 37%;
    bottom: -40px;
    @include tablet { left: 15%;}
    @include mobile { width: auto; height: 70%; left: -20%; }
}


//page5
.image-inmersivo5a{
    position: absolute;
    width: auto;
    height: 95vh;
    @include tablet { left: 15%;}
    @include mobile { width: auto; height: 55%; top: 20%; }
}

.txt5a{
    position: absolute;
    width: 30%;
    left: 7%;
    top: 50%;
    text-align: left;
    @include tablet { left: 5%; }
    @include mobile { top: 5%; width: 86%; text-align: center; }
}

.txt5b{
    position: absolute;
    width: 30%;
    right: 7%;
    top: 20%;
    text-align: right;
    @include tablet { right: 5%; }
    @include mobile { top: 73%; width: 87%; text-align: center; }
}


