.container-transition {
    transition: 0.6s all;
}

body[data-page="0"] .container-transition { background-color: #F794C4; }
body[data-page="1"] .container-transition { background-color: #F794C4; }
body[data-page="2"] .container-transition { background-color: #F794C4; }
body[data-page="3"] .container-transition { background-color: #F794C4; }
body[data-page="4"] .container-transition { background-color: #F794C4; }
body[data-page="5"] .container-transition { background-color: #F794C4; }
body[data-page="6"] .container-transition { background-color: #F794C4; }
body[data-page="7"] .container-transition { background-color: #F794C4; }