@import 'mediaqueries';

// Page 1

.image-contactenos1a{
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0vh;
    left: 0%;
    @include mobile { width: 100%;  height: auto; bottom: 25%; }
}

.txt1a{
    position: absolute;
    top: 10%;
    text-align: right;
}