@import 'mediaqueries';

// Page 1

.image-videogame1a{
    position: absolute;
    width: auto;
    height: 100vh;
    bottom: -6%;
    @include tablet { }
    @include mobile { width: 80%; height: auto; left: 12%; }
}

.image-videogame1b{
    position: absolute;
    width: auto;
    height: 100vh;
    bottom: -22vh;
    left: 10%;
    @include tablet { width: 75%; height: auto; }
    @include mobile { width: 100%; height: auto; bottom: -8%; left: 0; }
}

.image-videogame1c{
    position: absolute;
    width: auto;
    height: 40vh;
    left: 56%;
    top: 19%;
    @include tablet { width: 45%; height: auto; top: 7%; left: 37%; }
    @include mobile { width: 80%; height: auto; left: 12%; top: 16%; }
}

// Page 2

.image-videogame2a{
    position: absolute;
    width: auto;
    height: 60vh;
    top: 5%;
    @include mobile { width: auto; height: 40%; top: 25%; }
}

.txt2a{
    position: absolute;
    left: 4%;
    top: 13%;
    width: 30%;
    text-align: right;
    @include tablet { left: 5%; }
    @include mobile { top: 8%; width: 80%; text-align: center; left: 11%; }
}

.txt2b{
    position: absolute;
    right: 5%;
    top: 11%;
    width: 30%;
    text-align: left;
    @include tablet { right: 5%; }
    @include mobile { width: 80%; top: 70%; left: 11%; text-align: center; }
}

.txt2c{
    position: absolute;
    bottom: 11%;
    text-align: center;
    @include mobile { display: none;}
}

.wrapper-video {
    video { 
        clip-path: circle(90px at 10% 50%); 
        @include mobile { 
            clip-path: circle(60px at 50% 50%);
            display: none;
        }
    }

    &.active {
        video { 
            @include mobile { 
                clip-path: circle(120vw at 50% 45%) !important; 
            }
        }
    }
    span { 
        left: 15%;
        top: 52%;
        text-shadow: 0px 0px 5px black;
        @include mobile { left: 10%; top: 50%; display: none; } 
    }
}

//page 3
.image-videogame3a{
    position: absolute;
    width: auto;
    height: 115vh;
    bottom: -35%;
    @include mobile { width: 62%; height: auto; bottom: -8%;}
}

.image-videogame3b{
    position: absolute;
    width: auto;
    height: 100vh;
    bottom: -29%;
    @include mobile { width: 59%; height: auto; bottom: -8%;}
}

.txt3a{
    position: absolute;
    right: 15%;
    top: 20%;
    text-align: left;
    @include tablet { right: 5%; right: 7%; }
    @include mobile { width: 80%; top: 55%; text-align: left;}
}

.txt3b{
    position: absolute;
    width: 26%;
    top: 49%;
    left: 9%;
    text-align: right;
    @include tablet { left: 4%; }
    @include mobile { width: 80%; text-align: center; top: 72%; left: 10%; }
}

.txt3c{
    position: absolute;
    width: 25%;
    top: 49%;
    left: 7%;
    text-align: right;
    @include mobile { width: 80%; top: 55%; text-align: left;}
}


.txt3d{
    position: absolute;
    width: 25%;
    right: 7%;
    top: 20%;
    text-align: left;
    @include mobile { width: 80%; text-align: center; top: 72%; left: 10%; }
}


//page4
.image-videogame4a{
    position: absolute;
    width: 75%;
    height: auto;
    top: 25%;
    right: -2%;
    @include tablet { width: 90%; height: auto; top: 25%; }
    @include mobile { width: 180%; height: auto; left: -61%;}
}

.image-videogame4b{
    position: absolute;
    width: 75%;
    height: auto;
    top: 25%;
    right: -2%;
    @include tablet { width: 90%; height: auto; top: 25%; }
    @include mobile { width: 190%; height: auto; left: -61%;}
}

.txt4a{
    position: absolute;
    width: 30%;
    top: 20%;
    left: 7%;
    text-align: left;
    @include tablet { top: 20%; left: 7%;}
    @include mobile { width: 80%; text-align: center; top: 72%; right: 10%; }
}

.txt4b {
    position: absolute;
    width: 30%;
    top: 20%;
    right: 7%;
    text-align: left;
    @include tablet { top: 20%; left: 7%;}
    @include mobile { width: 80%; text-align: center; top: 70%; right: 10%; }
}

.txt4c {
    position: absolute;
    display: none;
    @include laptop { display: none; }
    @include tablet { display: none;}
    @include mobile { display: block; top: 57%; width: 80%; text-align: center;}
}

.txt4d {
    position: absolute;
    display: none;
    @include laptop { display: none; }
    @include tablet { display: none;}
    @include mobile { display: block; top: 61%; width: 80%; text-align: center;}
}

//Page5
.image-videogame5a{
    position: absolute;
    width: 90%;
    height: auto;
    top: 10%;
    right: -2%;
    @include tablet { width: 90%; height: auto; top: 25%; }
    @include mobile { width: 180%; height: auto; left: -61%;}
}

.image-videogame5b{
    position: absolute;
    width: 90%;
    height: auto;
    top: 4%;
    right: -2%;
    @include tablet { width: 90%; height: auto; top: 25%; }
    @include mobile { width: 190%; height: auto; left: -61%;}
}

.image-videogame5c{
    position: absolute;
    width: 90%;
    height: auto;
    top: 0%;
    right: -2%;
    @include tablet { width: 90%; height: auto; top: 25%; }
    @include mobile { width: 190%; height: auto; left: -61%;}
}

.txt5a{
    position: absolute;
    top: 15%;
    left: 15%;
    text-align: right;
}

.txt5b{
    position: absolute;
    top: 35%;
    left: 15%;
    width: 40%;
    text-align: right;
}

.txt5c{
    position: absolute;
    right: 5%;
    width: 40%;
    bottom: 10%;
}