@import 'mediaqueries';

// Page 1

.image-kids1a{
    position: absolute;
    width: auto;
    height: 90vh;
    bottom: -10vh;
    @include tablet { width: auto; height: 100%;}
    @include mobile { width: auto; height: 95%; left: -70%;}
}

.image-kids1b{
    position: absolute;
    width: 320px;
    height: auto;
    right: 20%;
    top: 33%;
    @include tablet { width: 315px; right: 10%; }
    @include mobile { width: 75%; right: 12%; top: 45%; }
}

// Page 2

.image-kids2a{
    position: absolute;
    width: auto;
    height: 80vh;
    bottom: -40px;
}

.txt2a{
    position: absolute;
    width: 30%;
    left: 7%;
    top: 27%;
    text-align: right;
    @include tablet { left: 5%; }
    @include mobile { width: 80%; top: 10%; width: 80%; background-color: rgb(104 68 12 / 60%); padding: 15px; left: -5%; }
}

.txt2b{
    position: absolute;
    width: 25%;
    right: 7%;
    bottom: 20%;
    text-align: left;
    @include tablet { right: 3%; }
    @include mobile { width: 80%; top: 60%; width: 80%; background-color:rgb(104 68 12 / 60%); padding: 15px; right: -5%; }
}

.wrapper-video {
    video { 
        clip-path: circle(90px at 15% 62%);
        @include mobile { 
            clip-path: circle(60px at 50% 50%);
            display: none;
        }
    }

    &.active {
        video { 
            @include mobile { 
                clip-path: circle(120vw at 50% 45%) !important; 
            }
        }
    }
    span { 
        left: 20%;
        top: 62%;
        text-shadow: 0px 0px 5px black;
        @include mobile { left: 50%; top: 50%; display: none; } 
    }
}

//page 3
.image-kids3a{
    position: absolute;
    top: 23%;
    width: auto;
    text-align: center;
    height: 50vh;
    @include tablet { left: 6%; }
    @include mobile { width: 80%; height: auto; top: 29%; }
}

.txt3a{
    position: absolute;
    top: 10%;
    text-align: center;
    @include mobile { width: 50%; }
}

.txt3b{
    position: absolute;
    width: 25%;
    top: 33%;
    right: 3%;
    @include tablet { top: 40%; }
    @include mobile { width: 80%; top: 69%; text-align: center; right: 10%; }
}

//page4

.image-kids4a{
    position: absolute;
    width: auto;
    height: 80vh;
    bottom: -40px;
    left: 23%;
    @include tablet { left: 14%; }
    @include mobile { width: 90%; height: auto; top: 6%; left: 4%; border-bottom: 3px solid #fff;}
}

.txt4a{
    position: absolute;
    width: 25%;
    left: 7%;
    top: 49%;
    text-align: right;
    @include tablet { left: 3%; }
    @include mobile { top: 47%; width: 69%; background-color: rgb(104 68 12 / 60%); padding: 15px; left: 0%;}
}

.txt4b{
    position: absolute;
    right: 12%;
    top: 25%;
    text-align: left;
    @include tablet { right: 5%; }
    @include mobile { bottom: -35%; width: 80%; }
}

.txt4c{
    position: absolute;
    right: 12%;
    top: 25%;
    text-align: left;
    @include tablet { right: 5%; }
    @include mobile { bottom: -35%; width: 80%; }
}

.txt4d{
    position: absolute;
    right: 8%;
    top: 25%;
    text-align: left;
    @include tablet { right: 5%; }
    @include mobile { bottom: -35%; width: 80%; }
}

.txt4e{
    position: absolute;
    right: 12%;
    top: 25%;
    text-align: left;
    @include tablet { right: 5%; }
    @include mobile { top: 0%; width: 80%; right: 0%; }
}

.txt4f{
    position: absolute;
    right: 12%;
    top: 45%;
    text-align: left;
    @include tablet { right: 5%; }
    @include mobile { bottom: -16%; width: 80%; }
}

// page 5

.image-kids5a{
    position: absolute;
    width: auto;
    height: 80vh;
    bottom: -40px;
}

.image-kids5b{
    position: absolute;
    width: auto;
    height: 30vh;
    top: 19%;
    right: 14%;
    @include tablet { right: 9%; width: 20%; height: auto; top: 28%; }
    @include mobile { display: none; }

}

.txt5a{
    position: absolute;
    width: 30%;
    left: 7%;
    top: 27%;
    text-align: right;
    @include tablet { left: 3%; }
    @include mobile { display: none; }
}

.txt5b{
    position: absolute;
    width: 25%;
    right: 7%;
    bottom: 20%;
    text-align: left;
    @include tablet { right: 5%; }
    @include mobile { top: 66%; width: 60%; text-align: center; left: 19%; }
}

.border{
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.flex{
    display: flex;
    align-items: center;
}

