@import 'mediaqueries';

// Page 1

.image-kids1a{
    position: absolute;
    width: auto;
    height: 90vh;
    bottom: -10vh;
    @include tablet { width: 520px; }
    @include mobile { width: 80%; }
}

.image-kids1b{
    position: absolute;
    width: 320px;
    height: auto;
    right: 20%;
    top: 33%;
    @include tablet { width: 315px; }
    @include mobile { width: 50%; bottom: 26%; }
}

// Page 2

.image-kids2a{
    position: absolute;
    width: auto;
    height: 80vh;
    bottom: -40px;
}

.txt2a{
    position: absolute;
    width: 30%;
    left: 7%;
    top: 27%;
    text-align: right;
    @include tablet { left: 5%; }
    @include mobile { top: 5%; }
}

.txt2b{
    position: absolute;
    width: 25%;
    right: 7%;
    bottom: 20%;
    text-align: left;
    @include tablet { left: 5%; }
    @include mobile { top: 5%; }
}

//page 3
.image-kids3a{
    position: absolute;
    top: 23%;
    width: auto;
    text-align: center;
    height: 50vh;
    @include mobile { margin-left: -70px; }
}

.txt3a{
    position: absolute;
    top: 10%;
    text-align: center;
    @include mobile { left: auto; right: 3%; }
}

.txt3b{
    position: absolute;
    width: 25%;
    top: 33%;
    right: 3%;
    .txt-x2{ 
        margin-top: -17px; display: block;
        @include mobile { margin-top: -5px; }
    }
}

//page4

.image-kids4a{
    position: absolute;
    width: auto;
    height: 80vh;
    bottom: -40px;
    left: 23%;
}

.txt4a{
    position: absolute;
    width: 25%;
    left: 7%;
    top: 49%;
    text-align: right;
    @include tablet { left: 5%; }
    @include mobile { top: 5%; }
}

.txt4b{
    position: absolute;
    right: 12%;
    top: 25%;
    text-align: left;
    @include tablet { left: 5%; }
    @include mobile { top: 5%; }
}

.txt4c{
    position: absolute;
    right: 12%;
    top: 25%;
    text-align: left;
    @include tablet { left: 5%; }
    @include mobile { top: 5%; }
}

.txt4d{
    position: absolute;
    right: 8%;
    top: 25%;
    text-align: left;
    @include tablet { left: 5%; }
    @include mobile { top: 5%; }
}

.txt4e{
    position: absolute;
    right: 12%;
    top: 25%;
    text-align: left;
    @include tablet { left: 5%; }
    @include mobile { top: 5%; }
}

.txt4f{
    position: absolute;
    right: 12%;
    top: 45%;
    text-align: left;
    @include tablet { left: 5%; }
    @include mobile { top: 5%; }
}

// page 5

.image-kids5a{
    position: absolute;
    width: auto;
    height: 80vh;
    bottom: -40px;
}

.image-kids5b{
    position: absolute;
    width: auto;
    height: 30vh;
    top: 19%;
    right: 14%;
}

.txt5a{
    position: absolute;
    width: 30%;
    left: 7%;
    top: 27%;
    text-align: right;
    @include tablet { left: 5%; }
    @include mobile { top: 5%; }
}

.txt5b{
    position: absolute;
    width: 25%;
    right: 7%;
    bottom: 20%;
    text-align: left;
    @include tablet { left: 5%; }
    @include mobile { top: 5%; }
}

.border{
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.flex{
    display: flex;
    align-items: center;
}

.wrapper-video {
    video { 
        clip-path: circle(175px at 50% 45%); 
        @include mobile { 
            clip-path: circle(60px at 50% 50%); 
        }
    }

    &.active {
        video { 
            @include mobile { 
                clip-path: circle(120vw at 50% 45%) !important; 
            }
        }
    }
    span { 
        left: 60%;
        top: 44%;
        @include mobile { left: 50%; top: 50%; } 
    }
}

