
/**************************************/

/*************************************/




/***************************************************************/


/*************************************************/


/*************************************************/


/*************************************************/


/*************************************************/



.btn-app {
    position: absolute;
    z-index: 100;
}

.txt7a{
    position: absolute;
    top: 7%;
    text-align: right;
}

.txt7b{
    position: absolute;
    bottom: 20%;
    text-align: right;
}