@import 'mediaqueries';

// Page 1

.image-alojamiento1a{
    position: absolute;
    width: auto;
    height: 85vh;
    bottom: -10vh;
    left: 10%;
    @include tablet { width: 520px; height: auto; bottom: 7%; }
    @include mobile { width: 100%;  height: auto; bottom: 25%; left: -11%;}
}

.txt1a{
    position: absolute;
    right: 15%;
    top: 45%;
    text-align: right;
    @include tablet { right: 5%; }
    @include mobile { top: 70%; }
}

// Page 2

.image-alojamiento2a{
    position: absolute;
    left: 10%;
    width: 250px;
    height: auto;
    @include tablet { width: 220px; height: auto; bottom: 25%; }
    @include mobile { width: 140px;  height: auto; left: 7%; bottom: 25%;}
}

.image-alojamiento2b{
    position: absolute;
    right: 10%;
    width: 250px;
    height: auto;
    @include tablet { width: 220px; height: auto; bottom: 25%; }
    @include mobile { width: 140px;  height: auto; right: 7%; bottom: 25%;}
}

.txt2a{
    position: absolute;
    width: 25%;
    top: 25%;
    text-align: center;
    @include tablet { top: 10%; width: 60%; }
    @include mobile { top: 10%; width: 80%; }
}

//page 3
.image-alojamiento3a{
    position: absolute;
    width: 30%;
    top: 40%;
    left: 3%;
    height: 22vh;
    object-fit: contain;
    @include mobile { top: 25%; width: 50%; left: 0%; height: 18vh;}
}

.image-alojamiento3b{
    position: absolute;
    width: 30%;
    top: 40%;
    height: 22vh;
    object-fit: contain;
    @include mobile { top: 25%; width: 50%; right: 0%; height: 18vh;}
}


.image-alojamiento3c{
    position: absolute;
    width: 30%;
    top: 40%;
    right: 3%;
    height: 22vh;
    object-fit: contain;
    @include mobile { top: 60%; width: 60%; left: 20%; height: 18vh;}
}

.txt3a{
    position: absolute;
    top: 17%;
    text-align: center;
    @include mobile { width: 85%; top: 7%; }
}

.txt3b{
    position: absolute;
    top: 68%;
    left: 10%;
    text-align: center;
    @include mobile { top: 49%; left: 5%; }
}

.txt3c{
    position: absolute;
    top: 68%;
    right: 12%;
    text-align: center;
    @include mobile { top: 49%; right: 5%; }
}

.txt3d{
    position: absolute;
    top: 68%;
    text-align: center;
    @include mobile { top: 84%; }
}