@import 'mediaqueries';

// Page 1

.image-elearning1a{
    position: absolute;
    width: auto;
    height: 90vh;
    bottom: -10vh;
    @include tablet { width: 615px; height: auto;}
    @include mobile { width: 500px; height: auto; }
}

.image-elearning1b{
    position: absolute;
    width: 754px;
    height: auto;
    left: 12.31%;
    top: 20%; 
    @include tablet { width: 500px; height: auto; }
    @include mobile { width: 90%;}
}

// Page 2

.image-elearning2a{
    position: absolute;
    width: auto;
    height: 90vh;
    bottom: -40px;
    margin-left: 140px;
    @include tablet { width: 500px; height: auto; }
    @include mobile { width: 100%; height: auto; left: -67%;}
}

.txt2a{
    position: absolute;
    width: 40%;
    left: 2%;
    top: 13%;
    text-align: right;
    @include tablet { left: 4%; top: 19%; }
    @include mobile { top: 12%; width: 58%; left: 32%; }
}

//page 3
.image-elearning3a{
    position: absolute;
    width: auto;
    height: 87vh;
    bottom: -40px;
    margin-left: 140px;
    @include mobile { left: -77%; width: 550px; height: auto; }
}

.image-elearning3b{
    position: absolute;
    width: auto;
    height: 100px;
    bottom: 30%;
    right: 17%;
    @include mobile { display: none; }
    @include tablet { right: 21%;}
}

.image-elearning3c{
    position: absolute;
    width: 100px;
    height: auto;
    bottom: 30%;
    right: 10%;
    @include mobile { display: none; }
}

.txt3a{
    position: absolute;
    left: 20%;
    top: 20%;
    text-align: right;
    @include tablet { left: 12%; top: 27%;}
    @include mobile { right: 10%; top: 25%; }
}

.txt3b{
    position: absolute;
    top: 49%;
    left: 35%;
    .txt-x2{ 
        margin-top: -17px; display: block;
        @include mobile { margin-top: -5px; font-size: 2rem; }
    }
}

.txt3c{
    position: absolute;
    bottom: 10%;
    right: 10%;
    @include mobile { right: 3%; bottom: 20%; }
}

.txt3d{
    position: absolute;
    bottom: 8%;
    right: 5%;
}

//page4
.txt4a{
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: right;
    @include laptop { top: 14%; left: 10%; }
    @include tablet { top: 7%; left: 7%;}
    @include mobile { left: auto; text-align: center; }
}

.txt4b {
    position: absolute;
    width: 60%;
    top: 65%;
    text-align: center;
    color: #000000;
    @include laptop { width: 75%; }
    @include tablet { width: 60%; }
    @include mobile { top: 55%; width: 90%; }
}

.wrapper-video {
    video { 
        clip-path: circle(120px at 50% 45%); 
        @include tablet { 
            clip-path: circle(120px at 50% 45%);
        }
        @include mobile { 
            clip-path: circle(75px at 50% 42%);
        }
    }

    &.active {
        video { 
            @include mobile { 
                clip-path: circle(120vw at 50% 45%) !important; 
            }
        }
    }
    span { 
        left: 60%;
        top: 44%;
        @include mobile { left: 50%; top: 50%; } 
    }
}

