@import 'mediaqueries';

// Page 1

.image-elearning1a{
    position: absolute;
    width: auto;
    height: 90vh;
    bottom: -10vh;
    @include tablet { width: 615px; height: auto;}
    @include mobile { width: 500px; height: auto; }
}

.image-elearning1b{
    position: absolute;
    width: 660px;
    height: auto;
    @include tablet { width: 500px; height: auto; }
    @include mobile { width: 90%;}
}

// Page 2

.image-elearning2a{
    position: absolute;
    width: auto;
    height: 90vh;
    bottom: -40px;
    margin-left: 140px;
    @include tablet { width: 500px; height: auto; }
    @include mobile { width: 100%; height: auto; left: -67%;}
}

.txt2a{
    position: absolute;
    width: 40%;
    left: 2%;
    top: 13%;
    text-align: right;
    @include tablet { left: 0%; top: 19%; }
    @include mobile { top: 12%; width: 58%; left: 32%; }
}

//page 3
.image-elearning3a{
    position: absolute;
    width: auto;
    height: 87vh;
    bottom: -40px;
    margin-left: 140px;
    @include mobile { left: -77%; width: 550px; height: auto; }
}

.content-usb {
    position: absolute;
    bottom: 35%;
    right: 15%;
    width: 270px;
    height: 70px;
    cursor: pointer;
    .drag-and-drop{
        position: absolute;
        background: rgba(0, 0, 0, 0);
        width: 270px;
        height: 70px;
    }
    @include mobile { width: 120px; height: 31px; bottom: 25%; right: 36%; }
    p{
        position: absolute;
        bottom: -40px;
        text-align: center;
        width: 100%;
        font-size: 1.2rem;
        font-weight: 500;
        @include mobile { font-size: 1rem; }
    }

    .image-elearning3b{
        position: absolute;
        width: auto;
        height: 100%;
        bottom: 0%;
        left: 0%;
        //transition: 0.6s all;
    }
    
    .image-elearning3c{
        position: absolute;
        width: auto;
        height: 100%;
        bottom: 0%;
        right: 0%;
        //transition: 0.6s all;
    }

    .txt3b{
        position: absolute;
        top: 27%;
        left: -45%;
        display: none;
        @include laptop{ left: -37%; }
        @include tablet{ left: -28%; }
        @include mobile { left: -74%; }
    }
    
    .txt3c{
        position: absolute;
        top: 27%;
        right: -59%;
        display: none;
        @include laptop { right: -47%; }
        @include tablet { right: -38%; }
        @include mobile { right: -93%; }
    }

    &.active {
        .image-elearning3b{ left: 17.5%; }
        .image-elearning3c{ right: 17.5%; }
        .txt3b { display: block; }
        .txt3c { display: block; }
    }
}




.txt3a{
    position: absolute;
    left: 20%;
    top: 20%;
    text-align: right;
    @include tablet { left: 12%; top: 27%;}
    @include mobile { right: 10%; top: 25%; }
}

.instruction{
    img { 
        position: absolute;
        bottom: 23%;
        right: 17%;
        @include mobile{ bottom: 18%; right: 38%; width: 100px; }
    }
    span.txt-x5{
        position: absolute;
        bottom: 17%;
        right: 16%;
        @include mobile{ bottom: 14%; right: 33%; }
    }
}

//page4

.image-elearning4a{
    position: absolute;
    width: 50%;
    height: auto;
    left: 0;
    @include mobile{ width: 100%; left: 0%; }
}

.txt4a{
    position: absolute;
    top: 20%;
    left: 55%;
    text-align: center;
    @include mobile { width: 100%; left: 0; top: 12%; }
}

.txt4b{
    position: absolute;
    top: 65%;
    left: 55%;
    @include mobile{ width: 80%; top: 80%; left: 10%; text-align: center; }
}

//page5

.image-elearning5a{
    position: absolute;
    width: 40%;
    height: auto;
    left: 30%;
    @include mobile{ width: 90%; left: 5%; }
}

.txt5a{
    position: absolute;
    top: 15%;
    left: 5%;
    text-align: center;
    @include tablet{ top: 10%; }
    @include mobile { width: 100%; top: 10%; left: 0; }
}

.txt5b{
    position: absolute;
    top: 73%;
    left: 70%;
    @include mobile{ width: 80%; top: 75%; left: 10%; text-align: center; }
}

//page6

.image-elearning6a{
    position: absolute;
    width: 104%;
    height: 104%;
    left: -2%;
    top: 0;
    object-fit: cover;
    @include mobile { width: 104%; height: 100%; top: -6%; }
}

.txt6a{
    position: absolute;
    top: 16%;
    right: 11%;
    text-align: right;
    @include tablet { top: 11%; }
    @include mobile { top: 8%; }
}

.txt6b{
    position: absolute;
    bottom: 16%;
    left: 2%;
    text-align: right;
    @include tablet { bottom: 11%; }
    @include mobile { bottom: 9%; left: 3%; }
}

//page7
.txt7a{
    position: absolute;
    top: 10%;
    left: 7%;
    text-align: right;
    .txt-x3{ 
        font-weight: bold; font-size: 4rem;
        @include laptop { font-size: 3rem; }
        @include tablet { font-size: 2.5rem; }
        @include mobile { font-size: 2rem; }
    }
    @include laptop { top: 14%; left: 4%; }
    @include tablet { top: 8%; left: 7%;}
    @include mobile { left: auto; text-align: center; top: 5%;  }
}

.txt7b {
    position: absolute;
    width: 45%;
    top: 70%;
    text-align: left;
    right: 5%;
    color: #000000;
    @include laptop { width: 90%; right: 5%; text-align: center; }
    @include tablet { width: 90%; right: 5%; text-align: center; }
    @include mobile { top: 60%;  width: 90%; right: 5%; text-align: center;}
}

.wrapper-video {
    video { 
        clip-path: circle(200px at 50% 45%); 
        @include laptop {  clip-path: circle(170px at 50% 45%); }
        @include tablet {  clip-path: circle(120px at 50% 45%); }
        @include mobile {  clip-path: circle(0px at 50% 45%); object-fit: contain; }
    }

    &.active {
        video { 
            @include mobile { 
                clip-path: circle(140vw at 50% 45%) !important; 
            }
        }
    }
    .title-reel { 
        left: 57%;
        top: 44%;
        text-shadow: 0px 0px 5px black;
        font-size: 3rem;
        @include laptop { font-size: 2rem; } 
        @include tablet { font-size: 1.8rem; left: 55%; } 
        @include mobile { font-size: 1.5rem; left: 0%; top: 40%; width: 100%; text-align: center; } 
    }
}

.carrousel{
    .slide {
         .arrows{ 
            width: 50%;
            left: 25%;
            bottom: 58%; 
            height: 0;
            @include laptop { bottom: 62%; }
            @include tablet { bottom: 61%; }
            @include mobile { bottom: 60%; width: 70%; left: 15%;  }
            .btn-arrow { 
                height: 100px;
                @include laptop { height: 70px; }
                @include tablet{ height: 60px; }
                @include mobile{ height: 40px; }
            }
        }
        .bullets {
            position: absolute;
            bottom: 10%;
            display: flex;
            .dot {
                margin: 0 8px;
                width: 15px;
                height: 15px;
                border: 2px solid #fff;
                border-radius: 100%;
                background-color: #fff;
                &.active { background-color: transparent; }
            }
        }
    }
}