@import 'mediaqueries';

// Page 1

.image-elearning1a{
    position: absolute;
    width: auto;
    height: 90vh;
    bottom: -10vh;
    @include tablet { width: 615px; height: auto;}
    @include mobile { width: 500px; height: auto; }
}

.image-elearning1b{
    position: absolute;
    width: 660px;
    height: auto;
    @include tablet { width: 500px; height: auto; }
    @include mobile { width: 90%;}
}

// Page 2

.image-elearning2a{
    position: absolute;
    width: auto;
    height: 90vh;
    bottom: -40px;
    margin-left: 140px;
    @include tablet { width: 500px; height: auto; }
    @include mobile { width: 100%; height: auto; left: -67%;}
}

.txt2a{
    position: absolute;
    width: 40%;
    left: 2%;
    top: 13%;
    text-align: right;
    @include tablet { left: 4%; top: 19%; }
    @include mobile { top: 12%; width: 58%; left: 32%; }
}

//page 3
.image-elearning3a{
    position: absolute;
    width: auto;
    height: 87vh;
    bottom: -40px;
    margin-left: 140px;
    @include mobile { left: -77%; width: 550px; height: auto; }
}

.content-usb {
    position: absolute;
    bottom: 35%;
    right: 15%;
    width: 270px;
    height: 70px;
    cursor: pointer;
    @include mobile { width: 120px; height: 31px; bottom: 25%; right: 36%; }
    p{
        position: absolute;
        bottom: -40px;
        text-align: center;
        width: 100%;
        font-size: 1.2rem;
        font-weight: 500;
        @include mobile { font-size: 1rem; }
    }

    .image-elearning3b{
        position: absolute;
        width: auto;
        height: 100%;
        bottom: 0%;
        left: 0%;
        transition: 0.6s all;
    }
    
    .image-elearning3c{
        position: absolute;
        width: auto;
        height: 100%;
        bottom: 0%;
        right: 0%;
        transition: 0.6s all;
    }

    .txt3b{
        position: absolute;
        top: 27%;
        left: -48%;
        display: none;
        @include mobile { left: -60%; }
    }
    
    .txt3c{
        position: absolute;
        top: 27%;
        right: -48%;
        display: none;
        @include mobile { right: -74%; }
    }

    &.active {
        .image-elearning3b{ left: 17.5%; }
        .image-elearning3c{ right: 17.5%; }
        .txt3b { display: block; }
        .txt3c { display: block; }
    }
}




.txt3a{
    position: absolute;
    left: 20%;
    top: 20%;
    text-align: right;
    @include tablet { left: 12%; top: 27%;}
    @include mobile { right: 10%; top: 25%; }
}

//page4
.txt4a{
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: right;
    @include laptop { top: 14%; left: 4%; }
    @include tablet { top: 8%; left: 7%;}
    @include mobile { left: auto; text-align: center; top: 4%; }
}

.txt4b {
    position: absolute;
    width: 60%;
    top: 65%;
    text-align: center;
    color: #000000;
    @include laptop { width: 75%; }
    @include tablet { width: 60%; }
    @include mobile { top: 55%; width: 90%; }
}

.wrapper-video {
    video { 
        clip-path: circle(120px at 50% 45%); 
        @include tablet { 
            clip-path: circle(120px at 50% 45%);
        }
        @include mobile { 
            clip-path: circle(75px at 50% 42%);
        }
    }

    &.active {
        video { 
            @include mobile { 
                clip-path: circle(120vw at 50% 45%) !important; 
            }
        }
    }
    span { 
        left: 57%;
        top: 44%;
        text-shadow: 0px 0px 5px black;
        @include mobile { left: 50%; top: 50%; } 
    }
}

