@import 'mediaqueries';

.txt-shadow{ 
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    @include mobile{ text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);  }
}
.hide{ display: none; }

.home-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile { flex-direction: column; }
}

.wrapper-video{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 0;
    video {
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        min-width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: circle(60px at 85% center);
        cursor: pointer;
        transition: clip-path 0.3s ease;
        background-color: #000;
    }

    .title-reel {
        position: absolute;
        left: 85%;
        font-size: 1.8rem;
        font-family: "Fraunces";
        font-weight: 800;
        cursor: pointer;
        text-shadow: 0px 0px 4px #000;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        z-index: 1;
        i{
            font-size: 3rem;
            display: none;
            @include mobile { display: block; }
        }
    }

    &.active{
        z-index: 1;
        .title-reel { opacity: 0; }
        video { 
            clip-path: circle(100vw at 85% center);
        }
    }
}

.glass {
    position: fixed;
    width: 346px;
    height: 228px;
    top: 0;
    left: 0;
    box-sizing: content-box;
    transition: 0.6s transform, 0.2s opacity;
    transform: scale(0);
    cursor: none;
    background-color: #CFC0FF;
    &::after{
        content: "";
        position: absolute;
        top: -10%;
        left: -9%;
        width: 420px;
        height: 274px;
        background-image: url(../img/bg-glass.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.carrousel{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        &.active {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .arrows {
            width: 90%;
            left: 5%;
            bottom: 25%;
            position: absolute;
            display: flex;
            justify-content: space-between;
            .btn-arrow {
                cursor: pointer;
                transition: 0.6s all;
                &:hover {
                    transform: scale(0.8);
                } 
                @include mobile { width: 20px; }
            }
            @include mobile { bottom: 12%;  width: 40%; left: 30%;}
        }
    }
}

.parallax-scene {
    position: fixed;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        bottom: 0;
        left: 0%;
    }
}

.list-bullet {
    width: 30px;
    height: 80px;
    position: absolute;
    left: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li.bullet {
        display: block;
        width: 30px;
        height: 2px;
        border: 1px solid #fff;
        border-radius: 10px;
        margin: 4px 0;
        &.active { 
            background-color: #fff;
        }
    }
}

.txt-es {
    &.selected-en { display: none; }
    &.selected-es { display: block; }
}

.txt-en{
    &.selected-en { display: block; }
    &.selected-es { display: none; }
}

.instruction {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backdrop-filter: blur(7px);
    transition: 0.6s all;
    z-index: 1;
}

.instruction.viewed { opacity: 0; display: none; }

.instruction img { width: 180px; }

.animation-drag{
    animation-duration: 3s;
  	animation-name: drag;
  	animation-iteration-count: infinite;
}

/*ANIMCACIONES*/

@-moz-keyframes click {
    from { margin-bottom: -1%;}
    50% { margin-bottom: 1%; transform: scale(0.98); transform: scaleY(0.97); }
    to { margin-bottom: -1%;}  
}
@-webkit-keyframes click {
   from { margin-bottom: -1%;}
    50% { margin-bottom: 1%; transform: scale(0.98); transform: scaleY(0.97); }
    to { margin-bottom: -1%;}   
}
@keyframes click {
    from { margin-bottom: -1%;}
    50% { margin-bottom: 1%; transform: scale(0.98); transform: scaleY(0.97); }
    to { margin-bottom: -1%;}  
}

/*----------------*/

@-moz-keyframes drag {
    from { margin-bottom: -1%; margin-left: -5%;}
    50% { margin-bottom: 1%; margin-left: 5%; transform: rotate(-10deg);}
    to { margin-bottom: -1%; margin-left: -5%;}  
}
@-webkit-keyframes drag {
   from { margin-bottom: -1%; margin-left: -5%;}
    50% { margin-bottom: 1%; margin-left: 5%; transform: rotate(-10deg);}
    to { margin-bottom: -1%; margin-left: -5%;}  
}
@keyframes drag {
    from { margin-bottom: -1%; margin-left: -5%;}
    50% { margin-bottom: 1%; margin-left: 5%; transform: rotate(-10deg);}
    to { margin-bottom: -1%; margin-left: -5%;}  
}

/*----------------*/

@-moz-keyframes drop {
    from { margin-bottom: -5%;}
    40% { margin-bottom: 1%; transform: rotate(-30deg) scale(0.9);}
    to { margin-bottom: -5%;}  
}

@-webkit-keyframes drop {
    from { margin-bottom: -5%;}
    40% { margin-bottom: 1%; transform: rotate(-30deg) scale(0.9);}
    to { margin-bottom: -5%;}  
}

@keyframes drop {
    from { margin-bottom: -5%;}
    40% { margin-bottom: 1%; transform: rotate(-30deg) scale(0.9);}
    to { margin-bottom: -5%;}  
}

/*----------------*/

@-moz-keyframes gira {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }  
}
@-webkit-keyframes gira {
   from { transform: rotate(0); }
    to { transform: rotate(360deg); }    
}
@keyframes gira {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }    
}

/*----------------*/

@-moz-keyframes comb1 {
    from {  margin-top: 50%;}
    50% { margin-top: 0%;}
    to {  margin-top: 50%;}  
}

@-webkit-keyframes comb1 {
   from {  margin-top: 50%;}
    50% { margin-top: 0%;}
    to {  margin-top: 50%;} 
}

@keyframes comb1 {
    from {  margin-top: 50%;}
    50% { margin-top: 0%;}
    to {  margin-top: 50%;}   
}

/*----------------*/

@-moz-keyframes comb2 {
    from {  margin-top: 0%;}
    50% { margin-top: 50%;}
    to {  margin-top: 0%;}  
}

@-webkit-keyframes comb2 {
    from {  margin-top: 0%;}
    50% { margin-top: 50%;}
    to {  margin-top: 0%;} 
}

@keyframes comb2 {
    from {  margin-top: 0%;}
    50% { margin-top: 50%;}
    to {  margin-top: 0%;}   
}

/*----------------*/

@-moz-keyframes entrada {
    0% {transform: scale(0.1);}
    80% {transform: scale(1.5);}
    100% {transform: scale(1);}
}
@-webkit-keyframes entrada {
    0% {transform: scale(0.1);}
    80% {transform: scale(1.5);}
    100% {transform: scale(1);}
}
@keyframes entrada{
    0% {transform: scale(0.1);}
    80% {transform: scale(1.5);}
    100% {transform: scale(1);}
}

/*-----------------------*/

@-moz-keyframes desvanece {
    0% {opacity: 1;}
    100% {opacity: 0.4;}
}

@-webkit-keyframes desvanece {
    0% {opacity: 1;}
    100% {opacity: 0.4;}
}

@keyframes desvanece{
    0% {opacity: 1;}
    100% {opacity: 0.4;}
}

/*-----------------------*/

$size:1.4em;
$dotCount:10;
$animationTime:2.5s;

.peeek-loading{
	background-color: rgb(0, 0, 0);
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}
.peeek-loading ul{
	position: absolute;
	left: calc(50% - 0.7em);
	top: calc(50% - 4.2em);
	display: inline-block;
    list-style: none;
	text-indent:$size*2;
}
.peeek-loading ul li:after,
.peeek-loading ul:after{
	width: $size;
	height: $size;
	background-color: #fff;
	border-radius: 100%;
}
.peeek-loading ul li:after,
.peeek-loading ul:after{
	content:"";
	display: block;
}
.peeek-loading ul:after{
	position: absolute;
	top: $size*2;
}
.peeek-loading li{
	position: absolute;
	padding-bottom: $size*4;
	top: 0;
	left: 0;
}

// Creating Circle and Animation Delay
@for $i from 1 through 10{
  .peeek-loading li:nth-child(#{$i}){
	  $deg:($i - 1)*(360deg/$dotCount);
	  transform: rotate($deg); 
	  animation-delay: $animationTime*$i/$dotCount/2;
  }
  .peeek-loading li:nth-child(#{$i}):after{
	  animation-delay: $animationTime*$i/$dotCount/2;
  }
}

// Animations
.peeek-loading li{
  animation: dotAnimation $animationTime infinite;
}
@keyframes dotAnimation {
0%, 55%, 100%    { 
	padding: 0 0 $size*4 0;
	}
5%,50%   { 
	padding: $size*2 0;
	}
} 

.peeek-loading li:after{
  animation: dotAnimationTwo $animationTime infinite;
}
@-webkit-keyframes dotAnimationTwo {
0%, 55%, 100%   { 
	opacity:1;
	transform: scale(1);
	}
5%,50%  { 
	opacity: .5;
	transform: scale(0.5);
	}
}